extends ./pug/_layout

block content
    include ./pug/left
    include ./pug/user
    include ./pug/right2
    include ./pug/textarea
    .content
        .pic
            img(src="./images/img1.jpg")
        .pic
            img(src="./images/img2.jpg")
        .pic
            img(src="./images/img3.jpg")
        .pic
            img(src="./images/img4.jpg")
        .pic
            img(src="./images/img5.jpg")
        .pic
            img(src="./images/img6.jpg")
        .pic
            img(src="./images/img7.jpg")
        .pic
            img(src="./images/img8.jpg")
        .pic
            img(src="./images/img9.jpg")
    script(src="./script.js")