.left
    a.btn(href="") image library
    a.btn(href="") new TASK
    ul.nav
        li.nav-date.active
            span 15.05.25
            ul
                li.nav-time.active 16:33
                li.nav-time 18:19
                li.nav-time 18:19
        li.nav-date
            span 15.05.25
            ul
                li.nav-time.active 16:33
                li.nav-time 18:19
                li.nav-time 18:19


