.right
    h2 Settings
    .block
        h3 Create Preview
        .btn
        p.blue-text Включите, если хотите обработать часть изображения бесплатно и посмотреть результат.
    .block
        h3 Style Power
        p range soon
        p
            |+&#32;
            span 2 Tockens
            |&#32;per photo
    .block
        h3 Details
        .btn
        p.blue-text If the object contains many fine details, it’s better to enable this setting. The result will be more accurate but will increase token usage.
        p
            | +&#32;
            span 0 Tockens
            | &#32;per photo
    .block.bottom
        p
            span Free
            | &#32;generation
        a.btn(href="") GENERATE
