
.custom-scrollbar
    .scroll-track
    .scroll-thumb
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 9" fill="#031022")
            <path d="M0,0h6v3h-6ZM18,0h6v3h-6ZM0,3h3v3h-3ZM21,3h3v3h-3ZM6,0h12v3h-12ZM3,3h6v3h-6ZM15,3h6v3h-6ZM0,6h6v3h-6ZM18,6h6v3h-6Z" fill="#031022" />
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 9" fill="#031022")
            <path d="M0,0h6v3h-6ZM18,0h6v3h-6ZM0,3h3v3h-3ZM21,3h3v3h-3ZM6,0h12v3h-12ZM3,3h6v3h-6ZM15,3h6v3h-6ZM0,6h6v3h-6ZM18,6h6v3h-6Z" fill="#031022" />