.user
    .user_1
        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 0H13V2H5V0Z" fill="#C1852A"/>
        <path d="M2 4H5V2H2V4Z" fill="#C1852A"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5 8V6H2V4H0V16H2V18H5V20H13V18H16V16H18V4H16V2H13V4H16V6H13V8H5ZM5 13V11H2V8H5V10H13V8H16V11H13V13H5ZM5 13V15H13V13H16V16H13V18H5V16H2V13H5Z" fill="#C1852A"/>
        </svg>
        span 153
    .user_2
        .logo
        .name Nickname
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.14355 10L1 10L1 6.85742L4.14355 6.85742L4.14355 10ZM4.14258 13.1426L4.14258 10L7.28613 10L7.28613 13.1426L4.14258 13.1426ZM7.28516 16.2861L7.28516 13.1426L10.4287 13.1426L10.4287 16.2861L7.28516 16.2861ZM10.4287 19.4287L10.4287 16.2861L13.5713 16.2861L13.5713 19.4287L10.4287 19.4287ZM13.5713 16.2861L13.5713 13.1426L16.7139 13.1426L16.7139 16.2861L13.5713 16.2861ZM16.7148 13.1426L16.7148 10L19.8574 10L19.8574 13.1426L16.7148 13.1426ZM19.8574 10L19.8574 6.85742L23 6.85742L23 10L19.8574 10Z" fill="white"/>
        </svg>
